version: "3.4"
networks:
  main:
    external:
      name: ${EXTERNAL_NETWORK_NAME}
services:
  the_browser:
    image: rebelplutonium/browser:0.0.0
    privileged: true
    shm_size: "256m"
    environment:
      DISPLAY:
    volumes:
      - "/tmp/.X11-unix:/tmp/.X11-unix:ro"
    networks:
      main:
    command:
      - "http://governor:16842"
      - "http://browser:16843"
      - "http://cloud9:16843"
      - "http://github:16843"
      - "http://governor:16843"
      - "http://secret-editor:16843"
      - "http://hacker:16843"
      - "http://governor-secrets:16844"
      - "http://my-hacker:16844"
    labels:
      expiry: "${EXPIRY}"
  cloud9:
    image: rebelplutonium/github:0.0.3
    networks:
      main:
    environment:
      PROJECT_NAME: "cloud9"
      CLOUD9_PORT: "16843"
      UPSTREAM_ID_RSA:
      UPSTREAM_ORGANIZATION: "rebelplutonium"
      UPSTREAM_REPOSITORY: "cloud9"
      ORIGIN_ID_RSA:
      ORIGIN_ORGANIZATION: "nextmoose"
      ORIGIN_REPOSITORY: "cloud9"
      REPORT_ID_RSA:
      REPORT_ORGANIZATION: "rebelplutonium"
      REPORT_REPOSITORY: "cloud9"
      HOST_NAME: "github.com"
      HOST_PORT: "22"
      USER_NAME:
      USER_EMAIL:
      MASTER_BRANCH: "master"
    labels:
      expiry: "${EXPIRY}"
  github:
    image: rebelplutonium/github:0.0.3
    networks:
      main:
    environment:
      PROJECT_NAME: "github"
      CLOUD9_PORT: "16843"
      UPSTREAM_ID_RSA:
      UPSTREAM_ORGANIZATION: "rebelplutonium"
      UPSTREAM_REPOSITORY: "github"
      ORIGIN_ID_RSA:
      ORIGIN_ORGANIZATION: "nextmoose"
      ORIGIN_REPOSITORY: "github"
      REPORT_ID_RSA:
      REPORT_ORGANIZATION: "rebelplutonium"
      REPORT_REPOSITORY: "github"
      HOST_NAME: "github.com"
      HOST_PORT: "22"
      USER_NAME:
      USER_EMAIL:
      MASTER_BRANCH: "master"
    labels:
      expiry: "${EXPIRY}"
  browser:
    image: rebelplutonium/github:0.0.3
    networks:
      main:
    environment:
      PROJECT_NAME: "browser"
      CLOUD9_PORT: "16843"
      UPSTREAM_ID_RSA:
      UPSTREAM_ORGANIZATION: "rebelplutonium"
      UPSTREAM_REPOSITORY: "browser"
      ORIGIN_ID_RSA:
      ORIGIN_ORGANIZATION: "nextmoose"
      ORIGIN_REPOSITORY: "browser"
      REPORT_ID_RSA:
      REPORT_ORGANIZATION: "rebelplutonium"
      REPORT_REPOSITORY: "browser"
      HOST_NAME: "github.com"
      HOST_PORT: "22"
      USER_NAME:
      USER_EMAIL:
      MASTER_BRANCH: "master"
    labels:
      expiry: "${EXPIRY}"
  governor:
    image: rebelplutonium/github:0.0.3
    networks:
      main:
    environment:
      PROJECT_NAME: "governor"
      CLOUD9_PORT: "16843"
      UPSTREAM_ID_RSA:
      UPSTREAM_ORGANIZATION: "rebelplutonium"
      UPSTREAM_REPOSITORY: "governor"
      ORIGIN_ID_RSA:
      ORIGIN_ORGANIZATION: "nextmoose"
      ORIGIN_REPOSITORY: "governor"
      REPORT_ID_RSA:
      REPORT_ORGANIZATION: "rebelplutonium"
      REPORT_REPOSITORY: "governor"
      HOST_NAME: "github.com"
      HOST_PORT: "22"
      USER_NAME:
      USER_EMAIL:
      MASTER_BRANCH: "master"
    labels:
      expiry: "${EXPIRY}"
  secret-editor:
    image: rebelplutonium/github:0.0.3
    networks:
      main:
    environment:
      PROJECT_NAME: "secret-editor"
      CLOUD9_PORT: "16843"
      UPSTREAM_ID_RSA:
      UPSTREAM_ORGANIZATION: "rebelplutonium"
      UPSTREAM_REPOSITORY: "secret-editor"
      ORIGIN_ID_RSA:
      ORIGIN_ORGANIZATION: "nextmoose"
      ORIGIN_REPOSITORY: "secret-editor"
      REPORT_ID_RSA:
      REPORT_ORGANIZATION: "rebelplutonium"
      REPORT_REPOSITORY: "secret-editor"
      HOST_NAME: "github.com"
      HOST_PORT: "22"
      USER_NAME:
      USER_EMAIL:
      MASTER_BRANCH: "master"
    labels:
      expiry: "${EXPIRY}"
  hacker:
    image: rebelplutonium/github:0.0.3
    networks:
      main:
    environment:
      PROJECT_NAME: "hacker"
      CLOUD9_PORT: "16843"
      UPSTREAM_ID_RSA:
      UPSTREAM_ORGANIZATION: "rebelplutonium"
      UPSTREAM_REPOSITORY: "hacker"
      ORIGIN_ID_RSA:
      ORIGIN_ORGANIZATION: "nextmoose"
      ORIGIN_REPOSITORY: "hacker"
      REPORT_ID_RSA:
      REPORT_ORGANIZATION: "rebelplutonium"
      REPORT_REPOSITORY: "secret-editor"
      HOST_NAME: "github.com"
      HOST_PORT: "22"
      USER_NAME:
      USER_EMAIL:
      MASTER_BRANCH: "master"
    labels:
      expiry: "${EXPIRY}"
  governor-secrets:
    image: rebelplutonium/secret-editor:1.0.0
    networks:
      main:
    environment:
      PROJECT_NAME: "governor-secrets"
      CLOUD9_PORT: "16844"
      GPG_SECRET_KEY:
      GPG2_SECRET_KEY:
      GPG_OWNER_TRUST:
      GPG2_OWNER_TRUST:
      GPG_KEY_ID:
      USER_NAME:
      USER_EMAIL:
      ORIGIN_ID_RSA:
      ORIGIN_ORGANIZATION: "${GOVERNOR_SECRETS_ORIGIN_ORGANIZATION}"
      ORIGIN_REPOSITORY: "${GOVERNOR_SECRETS_ORIGIN_REPOSITORY}"
      HOST_NAME: "${GOVERNOR_SECRETS_HOST_NAME}"
      HOST_PORT: "${GOVERNOR_SECRETS_SSH_HOST_PORT}"
      READ_WRITE: "yes"
    labels:
      expiry: "${EXPIRY}"
  my-hacker:
    image: rebelplutonium/hacker:0.0.12
    networks:
      main:
    environment:
      PROJECT_NAME: "my-hacker"
      CLOUD9_PORT: "16844"
      DISPLAY:
      AWS_ACCESS_KEY_ID:
      AWS_SECRET_ACCESS_KEY:
      AWS_DEFAULT_REGION:
      GPG_SECRET_KEY:
      GPG2_SECRET_KEY:
      GPG_OWNER_TRUST:
      GPG2_OWNER_TRUST:
      GPG_KEY_ID:
      UPSTREAM_ID_RSA:
      ORIGIN_ID_RSA:
      REPORT_ID_RSA:
      EXPIRY:
      EXTERNAL_NETWORK_NAME:
      USER_NAME:
      USER_EMAIL:
    privileged: true
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "/tmp/.X11-unix/X0:/tmp/.X11-unix/X0:ro"
      - "/:/srv/host:ro"
      - "/media:/srv/media"
      - "/home:/srv/home"
    labels:
      expiry: "${EXPIRY}"

